In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv("vehicles.csv")
## This is the Craigslist data, scraped January 2020
## https://www.kaggle.com/austinreese/craigslist-carstrucks-data

In [21]:
dropped_cols = ['id', 'url', 'region', 'region_url', 'transmission', 'vin', 'drive', 'size', 'type', 'paint_color', 'image_url', 'description', 'county', 'lat', 'long', 'cylinders', 'title_status']
df_cl = df.drop(columns=dropped_cols)

## Cleaning the dataframe

In [22]:
df_cl['price'] = df_cl['price'].replace(0, np.NaN)
df_cl.shape

(539759, 8)

In [23]:
df_cl = df_cl.dropna(subset=['price'])
df_cl.shape

(495070, 8)

In [24]:
df_cl = df_cl[(df_cl['price'] >= np.percentile(df_cl['price'], 1)) &
          (df_cl['price'] <= np.percentile(df_cl['price'], 99))]
df_cl.shape

(485223, 8)

In [25]:
df_cl = df_cl.dropna(subset=['manufacturer', 'model', 'year'])
df_cl.shape

(458631, 8)

In [26]:
df_cl.isnull().sum()

price                0
year                 0
manufacturer         0
model                0
condition       188861
fuel              2578
odometer         77101
state                0
dtype: int64

In [27]:
df_cl.to_csv("craigslist_df_cleaned.csv")