In [1]:
import pandas as pd

# Electricity

10.309709132271765 (in cents)

In [3]:
path = "../data/us_electricity_sales_revenue.xlsx"

# Only use the residential rows to caluculate kwh cost for the average consumer

df_res = pd.read_excel(
    path, 
    header=2, 
    usecols=[0,1,2,3,4,5,6,7], 
    skipfooter=1, 
    na_values="."
)

In [46]:
df_res.head()

,Year,Month,State,Data Status,Thousand Dollars,Megawatthours,Count,Cents/kWh
0,1990,1,AK,Final,17477.0,181752.0,NaN,9.62
1,1990,1,AL,Final,123332.0,2070093.0,NaN,5.96
2,1990,1,AR,Final,72506.0,1026320.0,NaN,7.06
3,1990,1,AZ,Final,109332.0,1396499.0,NaN,7.83
4,1990,1,CA,Final,597161.0,6168009.0,NaN,9.68

In [47]:
df_res["Cents/kWh"].mean()

10.309709132271765

# Co2 Mean

396.07045543012845 grams/mile

In [42]:
path = "https://raw.githubusercontent.com/mpHarm88/streetsmart/master/data/vehicles.csv"
df_co2 = pd.read_csv(path, na_values="-1")

In [43]:
df_co2.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [44]:
df_co2["co2"].mean()

396.07045543012845

In [45]:
df_sub = df_co2[["make", "model", "year", "fuelType", "fuelType1", "fuelType2", "co2", "co2A"]]
df_sub.head(100)

,make,model,year,fuelType,fuelType1,fuelType2,co2,co2A
0,Alfa Romeo,Spider Veloce 2000,1985,Regular,Regular Gasoline,NaN,NaN,NaN
1,Ferrari,Testarossa,1985,Regular,Regular Gasoline,NaN,NaN,NaN
2,Dodge,Charger,1985,Regular,Regular Gasoline,NaN,NaN,NaN
3,Dodge,B150/B250 Wagon 2WD,1985,Regular,Regular Gasoline,NaN,NaN,NaN
4,Subaru,Legacy AWD Turbo,1993,Premium,Premium Gasoline,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
95,Pontiac,Grand Prix,1993,Regular,Regular Gasoline,NaN,NaN,NaN
96,Pontiac,Grand Prix,1993,Regular,Regular Gasoline,NaN,NaN,NaN
97,Pontiac,Grand Prix,1993,Regular,Regular Gasoline,NaN,NaN,NaN
98,Pontiac,Grand Prix,1993,Regular,Regular Gasoline,NaN,NaN,NaN
99,Rolls-Royce,Brooklands/Brklnds L,1993,Premium,Premium Gasoline,NaN,NaN,NaN

In [48]:
df_sub["fuelType"].value_counts()

Regular                        26913
Premium                        12027
Gasoline or E85                 1339
Diesel                          1202
Electricity                      237
Premium or E85                   127
Midgrade                         118
Premium and Electricity           75
CNG                               60
Regular Gas and Electricity       51
Premium Gas or Electricity        49
Gasoline or natural gas           20
Gasoline or propane                8
Regular Gas or Electricity         4
Name: fuelType, dtype: int64

In [49]:
df_sub["fuelType2"].value_counts()

E85            1466
Electricity     179
Natural Gas      20
Propane           8
Name: fuelType2, dtype: int64

In [39]:
df_ford = df_sub[df_sub["make"] == "Ford"]
df2 = df_ford[df_ford["year"] >= 2015]
df2.head()

,make,model,year,fuelType,fuelType1,fuelType2,co2,co2A
27397,Ford,Taurus FWD FFV,2015,Gasoline or E85,Regular Gasoline,E85,395,395
27503,Ford,Taurus AWD,2015,Regular,Regular Gasoline,NaN,450,-1
27504,Ford,Taurus FWD,2015,Regular,Regular Gasoline,NaN,347,-1
27506,Ford,Taurus FWD,2015,Regular,Regular Gasoline,NaN,395,-1
27507,Ford,Taurus AWD FFV,2015,Gasoline or E85,Regular Gasoline,E85,426,429

# Gas Mean

2.2087759717314484

In [26]:
path_gas = "../data/Weekly_U.S._Retail_Gasoline_Prices.csv"
df_gas = pd.read_csv(path_gas, 
                     error_bad_lines=False,
                    skiprows=4)

print(df_gas.shape)
df_gas.columns = ["Week", "Gas Price"]

(1415, 2)

In [27]:
df_gas.head()

         Week  Gas Price
0  05/11/2020      1.941
1   05/4/2020      1.883
2  04/27/2020      1.870
3  04/20/2020      1.910
4  04/13/2020      1.951

In [28]:
df_gas.tail()

            Week  Gas Price
1410   05/3/1993      1.086
1411  04/26/1993      1.086
1412  04/19/1993      1.079
1413  04/12/1993      1.079
1414   04/5/1993      1.068

In [29]:
# mean

df_gas["Gas Price"].mean()

2.2087759717314484

In [ ]:
{"cars":
 
}