##Data comes from   
https://www.kaggle.com/austinreese/craigslist-carstrucks-data

In [0]:
import pandas as pd
import numpy as np
!pip install -U -q PyDrive
 
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [0]:
# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# Go to link, sign in, and paste in result

In [0]:
file_list = drive.ListFile({'q': "'1kE03N5LwmWDDsDescCPmlQxGsY7ZKEnT' in parents and trashed=false"}).GetList()
for file1 in file_list:
  print('title: %s, id: %s' % (file1['title'], file1['id']))

title: craigslist_cleaned_df_img.csv, id: 1q_L-LMSE29jp64wP32VvJ8brX23L88NM
title: craigslist_df_cleaned2.csv, id: 1ZdS5bfNwTJVYVsFoPTBRDY5BoBmh6Ctp
title: craigslist_df_cleaned, id: 1NT6IPKm1EwNeH5PBVt8HqRMtO_oJemnC
title: Weekly_U.S._All_Grades_All_Formulations_Retail_Gasoline_Prices, id: 1cmGfdjaAd7RXYa_9S8RcraEDBA1fJKoKzB17KcaEo7Y
title: Weekly_U.S._All_Grades_All_Formulations_Retail_Gasoline_Prices.csv, id: 1pBHxMMMbUXZfFhNj5c2KqFq_dm4EkYOK
title: vehicles.csv, id: 12aa_5F_dECaFGjQR5KYZwToAqhHouUNi
title: carfullspecs.csv, id: 1Y9oQ0huvw3LYnbafa-AM7Ig5cOK95DkD
title: vehicles_cl.csv, id: 1BKZfd5WBLkryOSWI6t4g50bloTD8P6f3

In [0]:
downloaded = drive.CreateFile({'id':"1BKZfd5WBLkryOSWI6t4g50bloTD8P6f3"})  
downloaded.GetContentFile('vehicles_cl.csv')

In [0]:
df_orig = pd.read_csv('vehicles_cl.csv')
df_orig

                id  ...     long
0       7088746062  ... -78.7443
1       7088745301  ...      NaN
2       7088744126  ... -79.8794
3       7088743681  ... -78.7443
4       7074612539  ... -96.2458
...            ...  ...      ...
539754  7076296329  ... -76.4254
539755  7088752165  ... -78.7443
539756  7088749883  ... -78.7443
539757  7088747986  ... -78.7443
539758  7082122917  ... -95.1247

[539759 rows x 25 columns]

In [0]:
df_orig.isnull().sum()

id                   0
url                  0
region               0
region_url           0
price                0
year               987
manufacturer     23584
model             8013
condition       236052
cylinders       218495
fuel              3393
odometer         98976
title_status      2940
transmission      3973
vin             224410
drive           155772
size            371209
type            147469
paint_color     174239
image_url           19
description         21
county          539759
state                0
lat               8974
long              8974
dtype: int64

In [0]:
df_img = df_orig.copy()
df_img = df_img[['price', 'year', 'manufacturer', 'model', 'image_url', 'odometer', 'state', 'condition']]
df_img.head()

   price    year manufacturer  ...  odometer state  condition
0  10299  2012.0        acura  ...   90186.0    nc        NaN
1      0  2011.0          bmw  ...  115120.0    nc        NaN
2   9500  2011.0       jaguar  ...   85000.0    nc  excellent
3   3995  2004.0        honda  ...  212526.0    nc        NaN
4  41988  2016.0    chevrolet  ...       NaN    ne        NaN

[5 rows x 8 columns]

In [0]:
import matplotlib.pyplot as plt

df_img[df_img['price'] >= np.percentile(df_img['price'], 99)].sort_values('price', ascending=False).head(150)

           price    year   manufacturer  ...  odometer state  condition
174324  189899.0  2009.0  mercedes-benz  ...    7474.0    fl        NaN
347213  189000.0  2014.0           ford  ...  151248.0    al       good
316996  189000.0  2014.0           ford  ...  151248.0    al       good
14370   189000.0  2014.0           ford  ...  151248.0    ms       good
17897   189000.0  2014.0           ford  ...  151248.0    ms       good
...          ...     ...            ...  ...       ...   ...        ...
214236   99500.0  2019.0           ford  ...   19835.0    nd        NaN
32087    99500.0  2019.0           ford  ...   19835.0    ny        NaN
451633   99500.0  2019.0           ford  ...   19835.0    pa        NaN
295922   99500.0  2019.0           ford  ...   19835.0    ga        NaN
219673   99500.0  2019.0           ford  ...   19835.0    va        NaN

[150 rows x 8 columns]

In [0]:
df_img['image_url'][428730]

'https://images.craigslist.org/00n0n_70hfkXLhvkB_600x450.jpg'

In [0]:
## Cleaning

df_img = df_img[(df_img['price'] >= 500) &
          (df_img['price'] < 200000)]
df_img = df_img.dropna(subset=['price', 'manufacturer', 'model', 'year'])
df_img = df_img.groupby("model").filter(lambda x: len(x) > 2)
df_img = df_img[df_img.year >= 2000]
df_img.shape

(413503, 8)

In [0]:
df_img['manufacturer'] = df_img['manufacturer'].str.lower()
df_img['model'] = df_img['model'].str.lower()
df_img['state'] = df_img['state'].str.lower()

In [0]:
df_img.to_csv('df_std_clean.csv')

In [0]:
df_img_slim = pd.read_csv("df_std_clean.csv")

In [0]:
df_img_slim = df_img_slim[['model', 'image_url']]

In [0]:
df_img_slim.to_csv("model_and_image_url_lookup.csv")